# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Code owners are automatically requested to review when a pull request is opened (read for review, not draft).

*   @zguesmi @gfournieriExec @Le-Caignec
