# Code owners are automatically requested to review when a pull request
# is opened (ready for review).
# See https://search.brave.com/search?q=About+code+owners+-+GitHub+Docs

# A Ruleset is created in this GitHub repository to automatically request
# Copilot's review when pull requests are created as drafts or when they
# are ready for review.
# See https://github.com/iExecBlockchainComputing/PoCo/settings/rules/9055086

*   @zguesmi @gfournierPro @Le-Caignec
