**/__pycache__
node_modules
.DS_Store

coverage
coverage.json
logs

.env
typechain
typechain-types

# Hardhat files
cache
artifacts

# Deployed addresses saved with deploy/ scripts
build/*.json

contracts/hardhat-dependency-compiler/
deployments/*hardhat*
deployments/dev-*

# Flattened Solidity file used to generate diagrams.
flatten.sol
