**/__pycache__
node_modules
.DS_Store

coverage
coverage.json
logs

.env
typechain
typechain-types

# Hardhat files
cache

contracts/hardhat-dependency-compiler/
deployments/*hardhat*
deployments/dev-*

# Flattened Solidity file used to generate diagrams.
flatten.sol

# Contract artifacts are used by the SDKs and the Middleware.
# Irrelevant files are ignored.
# /!\ Update package.json#files if this is updated.
/artifacts/*
!/artifacts/contracts/
/artifacts/contracts/tools/testing/
/artifacts/contracts/tools/diagrams/
/artifacts/contracts/**/*.dbg.json
