{
    "printWidth": 100,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "endOfLine": "auto",
    "overrides": [
        {
          "files": "*.sol",
          "options": {
                "singleQuote": false 
            }    
        }
      ]
}
