{
    "printWidth": 100,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "endOfLine": "auto",
    "plugins": ["prettier-plugin-organize-imports"],
    "pluginsComments": {
        "prettier-plugin-organize-import": "Supports .ts files (not .sol)"
    },
    "overrides": [
        {
          "files": "*.sol",
          "options": {
                "singleQuote": false 
            }    
        }
      ]
}
